body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("images.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#dealer-cards img, #your-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

h2, p {
  color: #fff;
}

#hit, #stay, #newGame {
  background-color: #5b10a1;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#hit:hover, #stay:hover, #newGame:hover {
  background-color: #dd0a0a;
}

#newGame{
    margin-left: 30px;
}

